.layout_active, .bg_pattern_active, .selected_img, .select_theme{
	border: 2px solid #0085ba !important;
    border-radius: 2px;
	 -webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
}

#customize-controls .selected_img:before {
    content: "\f00c ";
    font-family: fontawesome;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    margin: auto;
}

li#customize-control-wide_boxed label, li#customize-control-select_theme label {
    margin-left: 5px;
    margin-right: 5px;
}
li#customize-control-wide_boxed label img, li#customize-control-select_theme label img {
	border: solid 4px #ffffff;
	 -webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
}

li#customize-control-bg_pattern label {
	margin-left: 5px;
    margin-right: 6px;
}

li#customize-control-bg_pattern label img{
	width: 45px;
	height: 45px;
	border: solid 1px #ccc;
	border-radius: 50%;
}

li#customize-control-theme_color label {
	margin-left: 2px;
    margin-right: 8px;
}


#customize-control-checkbox label, .customize-control-radio label {
    display: inline-block;
    line-height: 20px;
    margin-left: 28px;
    padding-bottom: 5px;
    padding-top: 5px;
}


#customize-control-wide_boxed input[type="radio"], #customize-control-bg_pattern input[type="radio"], #customize-control-theme_color input[type="radio"], #customize-control-select_theme input[type="radio"] {
	display:none !important;
}


#enable.customizer_layout li {
    padding: 12px 14px !important;
    text-align: left;
    color: #23282d;
    font-size: 14px;
    font-weight: 500;
	cursor: move;
}
#disable.customizer_layout li {
    padding: 12px 14px !important;
    text-align: left;
    color: #dcdcdc;
    font-size: 14px;
    font-weight: 500;
	cursor: move;
}
#enable.customizer_layout li:after { 
	content: "\f177";
    font: 400 20px/1 dashicons;
    float: right;
	color: #23282d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}
#disable.customizer_layout li:after { 
	content: "\f530";
    font: 400 20px/1 dashicons;
    float: right;
	color: #dcdcdc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}
.sortable li {
    margin: 5px;
    width: 215px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    min-height: 100px;
    padding: 5px 0;
}
ul {
    list-style: none;
}

.customizer_layout {
    background-color: #ccc;
}
#customize-control-front_page_data input, #customize-control-front_page_data label {
    display: none !important;
}

#customize-controls img {
    border: 2px solid transparent;
}

.dd-options {
	position: relative !important;
	height:  250px;
}


.customize-control-hidden {
    margin: 0 -12px;
    margin-bottom: 12px;
    display: block;
    padding: 13px 12px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #dddddd;
    background-color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
	color: #3292db;
	border-left: 5px solid #0073aa;
}

.customize-control-hidden label {
    margin-bottom: 0;
    line-height: 1;
    font-size: 11.5px;
    cursor: default;
}
